@import "./../../../scss/mixins.scss";

.title-generator {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  margin-top: -20px;
  background-color: $background-title;
  border-radius: 10px;
}

.menu-question {
  width: 330px;
  margin-top: -20px;
}

.icon {
  margin-right: 10px;
}
