@import "./../../scss/mixins.scss";

.wrapper-content-cat {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 100px;
  max-width: 75%;

  .card-cat {
    display: flex;
    align-items: center;
    @include img-styles;
    justify-content: space-evenly;
    
  }

  .title-cat {
    margin-left: 25px;
    font-size: 1.8rem;
    max-width: 50%;
  }

  Button {
    margin-top: 20px;
  }
}
