@import "./../../scss/mixins.scss";

.wrapper-content-bad {
  width: auto;
  height: auto;
  @include flex-center;
  flex-direction: column;
  margin-right: 97px;
}

.card-bad {
  @include img-styles;
}

img {
  width: 390px;
  height: 489px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.btn-quote {
  margin-top: 20px;
}
