.wrapper-content {
  max-width: 1410px;
  width: 1195px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 12px;
  background-color: #f9f9f9;
  border-radius: 10px;

  .grid {
    margin-top: 1rem
  }

  .input-text {
    width: auto;
    height: 38px;
    padding-right: 100px;
    margin-right: 20px;
    font-size: 35px;
  }
}

.title-questions {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0px 15px 0px;
  border-radius: 10px;
}
