$color-placeholder: #7fb1d2;
$background: #50defd;
$blue: #0367A6;
$light-blue: #2ac1d6;
$yellow: #f4cd15;
$color-error: red;
$color-correct: #2f922f;
$orange: #f6882a;
$color-light: white;

$size-title: 45px;
$size-subtitle: 26px;
$size-text: 22px;
$size-text-modal: 18px;