@import "./_variables.scss";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin background-img {
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

@mixin img-styles {
  background-color: white;
  border-radius: 25px;
  padding: 15px 15px 0px;
}
